<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152442875734-oki562if7e75fi04ssbmgc49t0ai7p30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152442875734-oki562if7e75fi04ssbmgc49t0ai7p30</string>
	<key>API_KEY</key>
	<string>AIzaSyCDCrvU7PpeWR5Etm-Hzlig-GumGr1PL2M</string>
	<key>GCM_SENDER_ID</key>
	<string>152442875734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahjongMovers</string>
	<key>PROJECT_ID</key>
	<string>mahjong-movers</string>
	<key>STORAGE_BUCKET</key>
	<string>mahjong-movers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152442875734:ios:110c1133ddd804f51df0f7</string>
</dict>
</plist>